<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link href="css/bmi.css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Noto+Sans" rel="stylesheet">
        <title>BMI checker</title>
    </head>

    <body>
        <div class="header">
            <div class="wrapper">
                <form action="/" method="POST">
                    <h1>BMI calculator</h1>

                    <p>Insert Your Age</p>
                    <input type="text" id="age" name="age" value="<%= age %>">

                    <p>Insert Weight in Kg</p>
                    <input type="text" id="weight" name="weight" value="<%= weight %>">

                    <br>

                    <p>Insert Height in cm</p>
                    <input type="text" id="height" name="height" value="<%= height %>">

                    <br>
                    
                    <button type="submit" id="calc">check</button>

                    <p id="result"><%= result %></p>
                </form>
            </div>
        </div>
    </body>
</html>